@charset "utf-8";
.nav {
    font-size: large;
    color: #FFFFFF;
    background-color: #C86869;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.footer {
    text-align: center;
    background-color: #C0686A;
    color: #FFFFFF;
}
.body {
    background-color: #EDEBEB;
}
.h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: xx-large;
    border-bottom-width: medium;
    border-bottom-style: solid;
}
